{% extends "polls/base.html" %}
{% load i18n %}
{% load phrase_i18n %}

{% block title %}{% trans "Translation Examples" %}{% endblock %}

{% block content %}

<div id="examples">
    <!-- simple translations -->
    <p>{% trans "La Grande Boucle" %}</p>

    <!-- named translations -->
    {% trans "La Grande Boucle as some var" as somevar %}
    <p>{{ somevar }}</p>

    <!-- translations from variables -->
    {% with "Lorem Ipsum" as somevar %}
      <p>{% trans somevar %}</p>
    {% endwith %}

    <!-- noop -->
    <p>{% trans "mynoopvar" noop %}</p>
</div>

{% endblock %}
